@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif */
}
footer{
    background-color: hsl(192, 100%, 9%);
    padding: 100px 100px 70px 100px;
    
    color: rgb(221, 221, 221);
    font-family: 'Open Sans', sans-serif;
}
/* .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
} */
/* footer p {
    color: rgb(221, 221, 221);
    font-size: 1.5rem;
  }
  
  .footer__logo {
    fill: white;
    margin-bottom: 2rem;
  } */

/* .info {
    display: flex;
    justify-content: space-between;
  }
  .info .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .info .row a {
    color: rgb(221, 221, 221);
    font-weight: 400;
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  .info .row a:hover,
  .info .row a:active {
    text-decoration: underline;
  }
  .info__row {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .info__row--1 {
    display: flex;
    align-items: start;
  }
  .info__row .icon {
    width: 1.6rem;
    height: 1.8rem;
    margin-right: 1rem;
  } */

  .row{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: flex-start;
  

}

ul li{
    list-style: none;
    margin-bottom: 20px;
}

ul li a{
    text-decoration: none;
    color: rgb(221, 221, 221);
}
.social-icon{
     display: flex; 
    justify-content: center; 
     align-items: flex-start; 
    gap: 1rem;
}
.social-icon a{
    border: 1px solid white;
    /* border-radius: 50%; */
    color: rgb(221, 221, 221);
    text-decoration: none;
    
    /* font-size: 18px; */
    padding: 4px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.col1{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-top: 0px;
}
.col1 .icon{
    margin-right: 1.5rem;
    align-self: center;
}
.col1 .icon1{
    margin-right: 1.6rem;

    
}

.col p{
    line-height: 1.6em;
}
.copy{
    margin-top: 3.5em;
    text-align: right;
}

